In [1]:
import sqlite3

con = sqlite3.connect("test.db")
cur = con.cursor()

In [4]:
with con: 
    cur.execute("""
        CREATE TABLE user (
            id INT NOT NULL PRIMARY KEY,
            name TEXT,
            age INTEGER
        );
    """)

In [5]:
data = (1, "Sasha", 32)
with con:
    cur.execute("INSERT INTO user (id, name, age) values(?, ?, ?)", data)

In [6]:
query = 'INSERT INTO USER (id, name, age) values(?, ?, ?)'
data = [
    (2, 'Vova', 25),
    (3, 'Anna', 21),
    (4, 'Kolya', 19)
]
with con: 
    cur.executemany(query, data)

In [20]:
name = ('Vova',)
cur.execute("SELECT * FROM user").fetchone()

(1, 'Sasha', 32)

In [12]:
cur.execute("SELECT * FROM user").fetchall()

[(1, 'Sasha', 32), (2, 'Vova', 25), (3, 'Anna', 21), (4, 'Kolya', 19)]

## Создаем таблицу языков

In [13]:
with con:
    cur.execute("""
        CREATE TABLE language (
            id INT NOT NULL PRIMARY KEY,
            name TEXT
        );
    """)

In [15]:
with con:
    cur.execute("""
        CREATE TABLE user_language (
            user_id INT,
            language_id INT,
            PRIMARY KEY(user_id, language_id),
            FOREIGN KEY(user_id) REFERENCES user(id),
            FOREIGN KEY(language_id) REFERENCES language(id)
        );
    """)

In [16]:
data = [
    (1, "english"),
    (2, "spanish"),
    (3, "french")
]
with con:
    cur.executemany("INSERT INTO language VALUES(?, ?)", data)

In [17]:
data = [
    (1, 2), # Саша знает испанский
    (2, 1), # Вова знает английский
    (2, 2), # Вова еще знает испанский
    (3, 3), # Анна знает французский  
]
with con:
    cur.executemany("INSERT INTO user_language VALUES(?, ?)", data)

In [19]:
cur.execute("""
    SELECT user.name, language.name 
    FROM user, language, user_language
    WHERE (user.id = user_language.user_id AND
           language.id = user_language.language_id)
    """).fetchall()

[('Sasha', 'spanish'),
 ('Vova', 'english'),
 ('Vova', 'spanish'),
 ('Anna', 'french')]

In [21]:
con.close()